body {
    font-family: Arial;
    font-size: 12pt;
}
p {
    text-align: justify;
}
p.classe1 {
    letter-spacing: 0.5em;
}
.inferior {
    text-decoration: underline;
}
.superior {
    text-decoration: overline;
}
.centro {
    text-decoration: line-through;
}
.pisca {
    text-decoration: blink;
}

.titulo1 {
    font-family: sans-serif;
    font-size: 18pt;
    font-weight: bold;
    text-shadow: blue 2px 2px 2px;
    text-transform: capitalize;
}

.informacion {
    font-family: arial;
    font-size: 12pt;
    text-align: justify;
    text-indent: 30pt;
    word-spacing: 2px;
}
