* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    justify-content: center;
    color: rgb(72, 72, 72);
}

.cards {
    justify-content: center;
    display: flex;
    padding: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255, 1.0);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 256px;
    margin-left: 32px;
}

.card:first-child {
    margin-left: 0;
}

.icon {
    width: 64px;
    height: 64px;
}

.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}

.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
}

.icon {
    font-size: 50px;
    width: 64px;
    height: 64px;
}

.contact {
    box-shadow: 20px 20px 50px -30px #DFCBFF;
    transition: all 0.5s ease; 
}

.contact:hover {
    transform: scale(1.09);
}

.contact button {
    color: #9F66FF;
    background: linear-gradient(to right, #DFCBFF, #DFCBFF);
    transition: all 0.5s ease; 
}

.contact button:hover {
    color: #FFF;
    background: linear-gradient(to right, #9F66FF, #9F66FF);
    transform: scale(1.09);
}

.contact i {
    color: #9F66FF;
}

.shop {
    box-shadow: 20px 20px 50px -30px #BBDEFF;
    transition: all 0.5s ease; 
}

.shop:hover {
    transform: scale(1.09);
}

.shop button {
    color: #3E8AFF;
    background: linear-gradient(to right, #BBDEFF, #BBDEFF);
    transition: all 0.5s ease; 
}

.shop button:hover {
    color: #FFF;
    background: linear-gradient(to right, #3E8AFF, #3E8AFF);
    transform: scale(1.09);
}

.shop i {
    color: #3E8AFF;
}

.about {
    box-shadow: 20px 20px 50px -30px #FFC7D9;
    transition: all 0.5s ease; 
}

.about:hover {
    transform: scale(1.09);
}

.about button {
    color: #FE5F8F;
    background: linear-gradient(to right, #FFC7D9, #FFC7D9);
    transition: all 0.5s ease; 
}

.about button:hover {
    color: #FFF;
    background: linear-gradient(to right, #FE5F8F, #FE5F8F);
    transform: scale(1.09);
}

.about i {
    color: #FE5F8F;
}
