body {
    color: brown;
}

h1 {
    font-size: 28px;
    color: blue;
}

p {
    font-size: 18px;
    color: black;
}

.paragrafo3 {
    color: blue;
}

.destac {
    background-color: yellow;
    padding: 5px 15px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
}

.titulo-destaque {
    color: purple;
    text-align: center;
}

.importante {
    background-color: yellow;
    padding: 5px 5px;
    text-align: center;
    font-weight: bold;
}
